*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sidenav{
    height: 100vh;
}
.example-spacer{
    flex: 1 1 auto;
}
// .boton{
//     color: #edfdff !important;
//     font-weight:500;

// }
.fondo{
    width: 200px;
    background-color: #edfdff;
}
.menu{
    font-weight: bold;
    font-size: 20px !important;
}
.flex{
    display: flex;
    justify-content:space-between;
    color: white;
    font-size: 20px;
}

.titulo{
    text-decoration: none;
    color: white;
}

.boton:hover{
    background-color: rgba(0, 102, 255, 0.177);
}